
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <%- include ('./partials/messages') %>
            <h1><i class="fas fa-user-plus"></i> Ajout d'un usager</h1>
            <form action="/userAdd" method="post" enctype="multipart/form-data">
                <%- include ('./partials/edit_nom_email') %>
                <%- include ('./partials/edit_passwords') %>
                <%- include ('./partials/edit_roles') %>
                <%- include ('./partials/edit_image') %>
                <button type="submit" class="btn btn-primary btn-block">Confirmer l'ajout de l'usager</button>
                <div>
                <br>
                <p><a href="/village" class="btn btn-secondary btn-block">Retourner au menu</a></p>
            </div>
            </form>
        </div>
    </div>
</div>