<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <%- include('./partials/messages') %>
            <h1><i class="fas fa-user-plus"></i> Ajout d'un Mot</h1>
            <form action="/editerMot/<%=id%>" method="post" >
                <div class="form-group">

                    <label for="nomVariable">Variable: *** le nom de variable commence par trad_ (ex : trad_Usager)</label>
                    <input type="text" name="nomVariable" id="nomVariable" class="form-control" 
                      value="<%= typeof nomVariable != 'undefined' ? nomVariable : '' %>" disabled >

                    <label for="francais">Francais</label>
                    <input type="text" name="francais" id="francais" class="form-control" 
                      value="<%= typeof francais != 'undefined' ? francais : '' %>" >

                    <label for="anglais">Anglais</label>
                    <input type="text" name="anglais" id="anglais" class="form-control" 
                      value="<%= typeof anglais != 'undefined' ? anglais : '' %>" >
                </div>
                               
                <button type="submit" class="btn btn-primary btn-block mb-2">Confirmer la modification du mot</button>
                <a href="/menu" class="btn btn-secondary btn-block mb-2">Annuler/Retour au menu principal</a>
            </form>
        </div>
    </div>
</div>