<%- include ('./partials/navigation') %>
<div class="container mt-5">
    <h2 class="text-center mb-4"><%= translations.inventoryOf %> <%= user.nom %></h2>
    <p class="text-center"><%= translations.youHave %> <strong><%= user.gold %></strong> <%= translations.goldCoins %></p>
    <div class="text-center mt-5">
        <a href="/village" id="btn-back"><%= translations.backToHome %></a>
        <a href="/items/shop" id="btn-back"><%= translations.backToShop %></a>
    </div>
    
    <div class="row mt-5">
        <% items.forEach(entry => { %>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="/assets/<%= entry.item.imageItem %>" alt="<%= entry.item.nom %>" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%= entry.item.nom %></h5>
                        <p class="card-text"><%= entry.item.description %></p>
                        <p class="card-text"><%= translations.quantity %> <%= entry.quantite %></p>
                        <form action="/items/supprimer/<%= entry.item._id %>" method="POST">
                            <button type="submit" class="btn-simple-red"><%= translations.deleteItem %></button>
                        </form>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>