
<h2>Liste des usagers</h2>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <%- include ('./partials/messages') %>
            <h1><i class="fas fa-solid fa-users"></i> Nos Usagés</h1>
            <hr>
            <form method="post">
                <a href="/village" class="floating-button">Retourer au village</a>
                <div>
                    <ul class="listeUsagers-ul">
                        <% liste.forEach(function(users) { %>
                            <li class="listeUsagers-li">
                                <img src="/images/<%= users.nomImage %>" class="imgProfil listeUsagers-imgProfil" alt="image profil">
                                <div class="listeUsagers-info">
                                    <span>Nom</span>: <%= users.nom %><br>
                                    <span>Email</span>: <%= users.email %><br>
                                    <span>Roles</span>: <%= users.roles %><br>
                                    <span>Classe</span>: <%= users.characterClass %><br>
                                </div>                                
                                 <div class="listeUsagers-actions">
                                    <a href="/deleteUser/<%= users.email %>" class="listeUsagers-actionIcon" onclick="return confirm('Veuillez confirmer votre suppression')"><i class="fas fa-solid fa-trash"></i></a>
                                     <a href="/modifUsager/<%= users.email %>"><i class="fas fa-solid fa-pen"></i></a>
                                 </div>
                            </li>
                           <br>
                       <% }); %>
                   </ul>
               </div>
            <div>
                <br>
                <p><a href="/village" class="btn btn-secondary btn-block">Retourner au menu</a></p>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="background-image"></div>