<%- include ('./partials/messages') %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="card card-body text-center login-container">
                <h1 class="login-header"><i class="fas fa-gamepad"></i><%= translations.loginAndPlay %></h1>
                <br>
                <form action="/userLogin" method="post">
                    <div class="form-group">
                        <label for="email"><i class="fas fa-envelope"></i><%= translations.email %></label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="<%= translations.enterEmail %>">
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="fas fa-lock"></i><%= translations.password %></label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="<%= translations.enterPwd %>">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary custom-button"><%= translations.login %></button>
                    <p class="create-account-link"><%= translations.noAccount %> <a href="./ajoutUsagerClient"><%= translations.createAccount %></a></p>
                </form>
                <div><a href="/setLanguage/en">EN</a>&nbsp;|&nbsp;<a href="/setLanguage/fr">FR</a></div>
            </div>
        </div>
    </div>
</div>

<div class="background-image"></div>