<%- include ('./partials/navigation') %>
<div class="container mt-5 custom-container">
    <div class="row">
        
        <!-- Catégories -->
        <div class="col-md-3">
            <h3><%= translations.categories %></h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="/items/shop"><i class="fas fa-list"></i> <%= translations.allItems %></a></li>
                <li class="list-group-item"><a href="/items/shop?categorie=Boucliers"><i class="fas fa-shield-alt"></i> <%= translations.armors %></a></li>
                <li class="list-group-item"><a href="/items/shop?categorie=Armes"><i class="fas fa-broom"></i> <%= translations.weapons %></a></li>
                <li class="list-group-item"><a href="/items/shop?categorie=Potions"><i class="fas fa-flask"></i> <%= translations.potions %></a></li>
            </ul>
            <br>
            <p class="gold-balance"><%= translations.goldBalance.split('{gold}')[0] %><strong><%= user.gold %></strong><%= translations.goldBalance.split('{gold}')[1] %></p>
            <div class="container mt-5 mb-5">
                <a href="/village" id="btn-back"><%= translations.backToHome %></a>
            </div>
        </div>

        <!--Section items -->
        <div class="col-md-6">
            <div class="row">
                <% items.forEach(item => { %>
                    <div class="col-md-4 mb-4 mr-3">
                        <div class="card h-100 shadow-sm">
                            <img class="card-img-top" src="/assets/<%= item.imageItem %>" alt="<%= item.nom %>">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title"><%= item.nom %></h5>
                                <p class="card-text"><%= item.prix %> <%= translations.goldCoins %></p>
                                <form action="/items/ajouter-au-panier/<%= item._id %>" method="POST">
                                    <button type="submit" class="btn-simple"><%= translations.addToCart %></button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>

     <!-- Section Panier -->
<div class="col-md-3">
    <div class="cart bg-light p-4 rounded shadow-sm">
        <h4 class="mb-4"><i class="fas fa-shopping-cart"></i> <%= translations.cart %></h4>
        <% if(cart && cart.items.length > 0) { %>
            <% cart.items.forEach(item => { %>
                <div class="cart-item mb-3">
                <div class="item-details">
                        <strong><%= item.nom %></strong>
                        <div class="item-info">
                            <div><i class="fas fa-coins"></i> <%= item.prix %> <%= translations.goldCoins %></div>
                            <div><i class=""></i> <%= translations.quantity %> <%= item.quantite %></div>
                        </div>
                    </div>
                    <!-- Bouton Supprimer -->
                    <div class="item-action">
                        <form action="/items/supprimer-du-panier/<%= item.itemId %>" method="POST">
                            <button type="submit" class="btn-simple-red"><%= translations.delete %></button>
                        </form>
                    </div>
                    <hr>
                </div>
            <% }); %>
            <div class="total-container">
                <strong class="total-text"><%= translations.total %></strong> 
                <strong><%= cart.total %> <%= translations.goldCoins %></strong>
            </div>
            <form action="/items/acheter-panier" method="POST" class="mt-2">
                <button type="submit" class="btn-simple"><%= translations["addToInventory"] %></button>
            </form>
            
        <% } else { %>
            <p class="text-muted"><%= translations.emptyCart %></p>
        <% } %>
    </div>
</div>
</div>
</div>
