<%- include ('./partials/navigation') %>
<div id="accueilBox">
    <div id="accueil">
        <div id="villagePic">
            <div>
                <a href="/taverne">
                    <button id="boutonTaverne">Taverne</button>
                </a>
            </div>
            <div>
                <a href="/items/shop">
                    <button id="boutonShop">Shop</button>
                </a>
            </div>
            <div>
                <a href="/jouer">
                    <button id="boutonJouer">Jouer!</button>
                </a>
            </div>
        </div>
    </div>
        <div id="gameInfo">
            <a href="/taverne"><img class="casinoAd" src="images/casinoAd.gif" alt="casinoAd" style="width: 104%; margin-bottom: 5px;"></a>
            <a href="/taverne"><img class="casinoAd" src="images/casinoAd.gif" alt="casinoAd" style="width: 104%;"></a>
            <hr style="border-width: 4px;">
            <% if (typeof(user) !="undefined"){ %>
                <p style="font-weight: bold;"><span class="characterKeywords">Utilisateur:</span> <%= user.nom %></p>
                <p></p>
                <p style="font-weight: bold;"><span class="characterKeywords">Classe:</span> <%= user.characterClass %></p>
                <p style="font-weight: bold;"><span class="characterKeywords">Équipement:</span> <%= user.inventory == undefined? "Vous n'avez aucun item en votre possession!" : user.inventory%> %></p>
                <br>
                <div style="display: flex;"><img style="height: 32px;width: auto; margin-top: -8px;" src="images/coins.png" alt=""> <p style="font-weight: bold;"><%= user.gold == undefined? '0' : user.gold %> pièces d'or</p></div>
            <% } %>
            <hr style="border-width: 4px;">
            <br>
            <p>Bienvenue sur <span style="font-weight: bold; color: rgb(35, 100, 165);">Project Jjadd!</span></p>
            <p>Appuyez sur le bouton <em>Jouer!</em> pour commencer le jeu</p>
            <p>Appuyez sur le bouton <em>Shop</em> pour magasiner</p>
            <p>Appuyez sur le bouton <em>Taverne</em> pour plus d'informations...</p>
        </div>
</div>