<%- include ('./partials/navigation') %>
<div id="accueilBox">
    <div id="accueil">
        <div id="villagePic">
            <div>
                <a href="/taverne">
                    <button id="boutonTaverne"><%= translations.tavern %></button>
                </a>
            </div>
            <div>
                <a href="/items/shop">
                    <button id="boutonShop"><%= translations.shop %></button>
                </a>
            </div>
            <div>
                <a href="/jouer">
                    <button id="boutonJouer"><%= translations.play %></button>
                </a>
            </div>
        </div>
    </div>
        <div id="gameInfo">
            <a href="/taverne"><img class="casinoAd" src="images/casinoAd.gif" alt="casinoAd" style="width: 104%; margin-bottom: 5px;"></a>
            <a href="/taverne"><img class="casinoAd" src="images/casinoAd.gif" alt="casinoAd" style="width: 104%;"></a>
            <hr style="border-width: 4px;">
            <% if (typeof(user) !="undefined"){ %>
                <p style="font-weight: bold;"><span class="characterKeywords1"><%= translations.user %></span> <%= user.nom %></p>
                <p></p>
                <p style="font-weight: bold;"><span class="characterKeywords2"><%= translations.class %></span> <%= user.characterClass %></p>
                <p style="font-weight: bold;"><a href="/inventaire" class="link-inventaire" id="inventaireTrad" style="font-weight: bolder; color: #814f38;"><%= translations.inventory %></a>
                    
                </p>
                <br>
                <div style="display: flex;"><img style="height: 32px;width: auto; margin-top: -8px;" src="images/coins.png" alt=""><p style="font-weight: bold;"> <%= user.gold == undefined? '0' : user.gold %>&nbsp;</p><p class="characterKeywords4" style="font-weight: bold;"><%= translations.currentGold %></p></div>
            <% } %>
            <hr style="border-width: 4px;">
            <br>
            <p id="welcome"><%= translations.welcomeProject %></p>
            <p id="pressPlay"><%= translations.pressPlay %></p>
            <p id="pressShop"><%= translations.pressShop %></p>
            <p id="pressTavern"><%= translations.pressTavern %></p>
        </div>
</div>
