<%- include ('../partials/navigation') %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <%- include ('../partials/messages') %>
            <h1><i class="fas fa-book"></i><%= translations.ajout %></h1>
            <form action="/discussions/ajouter" method="post" >
                <div class="form-group">
                <label for="auteur"><%= translations.auteur %></label>
                <input type="text" name="auteur" id="auteur" class="form-control" 
                value="<%=user.nom%>" disabled >
                <%- include('../partials/discussions/titre') %>    
                <%- include('../partials/discussions/commentaire') %>
                </div>
                               
                <button type="submit" class="btn btn-primary btn-block mb-2"><%= translations.confirmerDiscussion %></button>
                <a href="/discussions" class="btn btn-secondary btn-block mb-2">
                    <%= translations.retour %>
                </a>
            </form>
        </div>
    </div>
</div>