<div class="row mt-2">
    <div class="col-md-15 m-auto">
        <div class="container mt-8">
         
      <h2><i class="fas fa-book-open"></i> Forum de discussion</h2>
   
      <a href="/discussions/ajouter" class="btn btn-primary btn-block mb-2">Ajouter une discussion</a>
      <% if (typeof(liste)!=="undefined" ) { %>
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Question</th>
              <th>Auteur</th>
              <th>Date</th>
              
            </tr>
          </thead>
          <tbody>
         <% for (let discussion of liste){ %>
           <tr href="/discussions/supprimer/<%=discussion._id%>" >
             <td><h5><a href="/discussions/supprimer/<%=discussion._id%>" style="text-decoration: none; color: crimson;" onclick="return confirm(`Voulez-vous vraiment supprimer la discussion ?`);">
              <i class="fas fa-solid fa-trash" data-bs-toggle="tooltip" title="Suprrimer la discussions"> </i>
              </a><a href="/discussions/commentaires/<%=discussion._id%>"> <%= discussion.titre %></a></h5>
             </td>
              <td><%= discussion.auteur %></td>
              <td><%= discussion.date %></td>
             </tr>
            </a>
            <tr>
              <a href="/discussions/commentaires/<%=discussion._id%>"> 
              <td><%= discussion.message %></td>
              </a>
            </tr>
         
          <% }%>  
          </tbody>
        </table>
    <% } else 
    { %>
       <h2>Aucune liste de discussion disponible</h2>
    <% } %>