<%- include ('../partials/navigation') %>
<div class="row mt-2">
    <div class="col-md-15 m-auto">
        <div class="container mt-8">
         
      <h2><i class="fas fa-book-open"></i> <%= translations.forum %></h2>
   
      <a href="/discussions/ajouter" class="btn btn-primary btn-block mb-2"> <%= translations.ajout %></a>
      <% if (typeof(liste)!=="undefined" ) { %>
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Question</th>
              <th><%= translations.auteur %></th>
              <th>Date</th>
              
            </tr>
          </thead>
          <tbody>
         <% for (let discussion of liste){ %>
           <tr >
             <td ><div style=" word-break: break-all; max-width: 1000px;">
              <h5><a href="/discussions/commentaires/<%=discussion._id%>"> <%= discussion.titre %></a></h5>
              </div>
             </td>
              <td ><%= discussion.auteur %></td>
              <td ><%= discussion.date %></td>
              <td> <% if (user.roles.includes('moderateur')||user.email===discussion.courriel) {%>
                <a href="/discussions/supprimer/<%=discussion._id%>" style="text-decoration: none; color: crimson;" onclick="return confirm(`Voulez-vous vraiment supprimer la discussion ?`);">
                <i class="fas fa-solid fa-trash" data-bs-toggle="tooltip" title="Suprrimer la discussions"> </i>
                </a><%}%></td>
            </tr>
            </a>
            <tr>
              <a href="/discussions/commentaires/<%=discussion._id%>"> 
              <td style="overflow: wrap; word-break: break-all;"><%= discussion.message %></td>
              </a>
            </tr>
          <% }%>  
          </tbody>
        </table>
    <% } else 
    { %>
       <h2><%= translations.rien %></h2>
    <% } %>